@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: iran;
    src: url(../public/font/IRANYekanMobileRegular.ttf);
}

body{
    font-family: 'iran';
    direction: rtl;
}